body {
  background-color: #ffffff;
}

.logo {
  display: flex;
  place-items: center;
  justify-content: center;
}

.tagline {
  font-family: 'Comme', sans-serif;
  font-size: 2em;
  text-align: center;
  color: #2F4F4F;
}